<form action="/charge" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js"
      class="stripe-button"
      data-key="pk_test_yxteCsM13ODV0UiH04LlkLCq00D252g2CM"
      data-name="Airbnb"
      data-description="Comfortable cotton t-shirt"
      data-amount="10000"
      data-currency="ZAR">
    </script>
  </form>