<footer class="page-footer black" >
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Airbnb</h5>
        <p class="grey-text text-lighten-4">Airbnb is an online marketplace that connects people who want to rent out their homes with people who are looking for accommodations in that locale. ... For hosts, participating in Airbnb is a way to earn some income from their property.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social Media</h5>
        <ul>
          <li><a class="grey-text text-lighten-3 fa fa-facebook"  href="#!">facebook</a></li>
          <li><a class="grey-text text-lighten-3 fa fa-twitter" href="#!">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2019 Code Ninjaz
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
  